<%= link_to "Back to Page", root_path %>

<div class="container">

<%= form_tag({action: :zip_upload}, multipart: true) do %>
  <%= file_field_tag 'zipfile' %>
  <%= submit_tag "Upload Zip File", class: "btn btn-primary" %> <br/>
<% end %>

	<% if @content.present? %>
		<table border="1" class="table table-bordered">
			<tr>
				<th>Content ID</th>
				<th>Content Name</th>
				<th>Document Name</th>
			</tr>
			<% @content.each do |content| %>
				<tr>
					<td><%= content.content_id %></td>
					<td><%= content.name %></td>
					<td><%= @document.name %></td>
				</tr>
			<% end %>
		</table>
	<% end %>
</div>